* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body { 
    background-color: #ffffff; 
    color: #333; 
}

.container { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.top-nav {
    height: 88px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 32px;
    background: #fff;
}
.search-bar{
    position: relative;
}
.search-bar input {
    background: #f5f5f5;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    width: 478px;
    height: 56px;
}
.fas{
    position: absolute;
    top: 22px;
    left: 10px;
}
.main-menu{
    display: flex;
    gap: 52px;
}
.main-menu a {
    text-decoration: none;
    color: #999;
    font-weight: 500;
}

.main-menu a.active { 
    color: #000; 
    border: none;
}
.user-icons{
    display: flex;
    width: 144px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
}
.user-icons img{
    height: 100%;
}
/* Tầng dưới nền tối (Dark Mode Style) */
.category-nav {
    display: flex;
    justify-content: center;
    background: #2e2e2e;
    padding: 12px 0;
}

.category-item {
    color: #aaa;
    padding: 0 45px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-left:1px solid #909090 ;
}
.category-item:first-child{
    border: none;
}
.category-item:hover { color: #fff; }

.category-section {
    padding: 60px 10%;
    background-color: #f6f6f6;
}

/* Header: Tiêu đề và Nút */
.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.arrow-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    color: #333;
}

/* Grid danh mục */
.new-arrival{
    padding-top: 56px;
}
.category-grid {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.cat-card {
    flex: 1;
    background-color: #EDEDED; /* Màu xám nhạt giống ảnh */
    padding: 52px 47px;
    border-radius: 15px; /* Bo góc đặc trưng */
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hiệu ứng khi di chuột */
.cat-card:hover {
    background-color: #e0e0e0;
    transform: translateY(-5px);
}

/* banner */
.hero-banner {
    background-color: #211C24; /* Màu tím đen đặc trưng */
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    color: white;
    overflow: hidden;
}

.hero-content {
    max-width: 500px;
}

.subtitle {
    color: #999;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-content h1{
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.hero-content h1 span {
    font-weight: 700;
}
.hero-content p{
    color: #909090;
    font-size: 18px;
}
.hero-content p:first-child{
   font-size: 25px;
}
.description {
    color: #999;
    margin-bottom: 30px;
    font-size: 16px;
}

/* Nút bấm viền mảnh */
.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-outline:hover {
    background: white;
    color: #211C24;
}

/* Hiệu ứng hình ảnh */
.hero-image{
    width: 33%;
    position: relative;
}
.hero-image img {
    position: absolute;
    top: -240px;
    height: 998px;
    width: 406px;
    filter: drop-shadow(0 20px 50px rgba(0, 0, 0, 0.5));
}

.product-section { 
    padding: 60px 0; 
}
.section-title { 
    margin-bottom: 30px; 
    font-weight: 500; 
}
.tabs{
    font-size: 18px;
    margin-bottom: 32px;
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
}
.active{
    border-bottom: 1px solid black;
    color: black;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

.product-card {
    background: #F6F6F6;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    position: relative;
    transition: 0.3s;
    width: 268px;
    height: 432px;
}

.product-card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.05); 
}
.product-card p{
    height: 48px;
}
.product-card img { 
    width: 160px;
    height: auto; 
    margin-bottom: 15px;
}

.price { 
    font-weight: bold; 
    font-size: 20px; 
    padding: 10px 0; 

}
.wishlist {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    text-align: right;
}
.wishlist img{
    width: auto;
}
/* --- PHẦN BANNER --- */
.hero {
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(100.23deg, #2E2E2E 42.36%, #000000 98.65%);

}

.hero h1 { 
    font-size: 72px; 
    margin-bottom: 10px; 
    color: white;

}
.hero p { 
    color: #787878; 
    margin-bottom: 30px;
    font-size: 16px; 
}

.btn-buy {
    padding: 12px 40px;
    border: 1px solid #fff;
    color: #fff;
    background: #000; 
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    height: 48px;
    width: 193px;
    margin-top: 10px;
}

.btn-buy:hover { 
    background: #fff; 
    color: #000; 
}

/* Vị trí ảnh sản phẩm */
.img-left { 
    position: absolute;
    left: 37px;
    top: 3px;
    width: 237px;
}
.img-left1 { 
    position: absolute;
    left: -74px;
    bottom: 13px;
    width: 418px;
}
.img-left2 { 
    position: absolute;
    left: 222px;
    top: -220px;
    width: 337px;
}
.img-right { 
    position: absolute; 
    right: -30px;
    top: 20px;
    width: 120px;
    transform: rotate(-31deg);
}
.img-right1 { 
    position: absolute; 
    right: -7px;
    bottom: -125px;
    width: 404px;
}
/* --- PHẦN FOOTER --- */
footer {
    background-color: #000;
    padding: 60px 10%;
    border-top: 1px solid #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #CFCFCF;
}
.brand{
    width: 50%;
    padding-right: 14%;
    position: relative;
}
.brand h2{
    margin-bottom: 25px;
}
.social-icons{
    position: absolute;
    bottom: o;
}
.footer-box{
    display: flex;
    width: 50%;
}
.footer-col { 
    flex: 1; 
    min-width: 250px; 
    margin-bottom: 30px; 
}

.footer-col h2 { 
    font-size: 1.5rem; 
    text-transform: uppercase; 
    margin-bottom: 20px; }
.footer-col h3 { 
    font-size: 1.1rem; 
    margin-bottom: 20px; 
    color: white;
}

.footer-col p { 
    color: #999; 
    line-height: 1.6; 
    font-size: 0.9rem; 
}

.footer-col ul { 
    list-style: none; padding: 0; 
}
.footer-col ul li { 
    margin-bottom: 10px; 
}
.footer-col ul li a { 
    color: #CFCFCF; 
    text-decoration: none;
    font-size: 0.9rem; 
}
.footer-col ul li a:hover { 
    color: #fff; 
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 1.2rem;
}